{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-recess-order"
  ],
  "plugins": ["stylelint-order"],
  "rules": {
    "color-hex-length": "long",
    "import-notation": "string"
  }
}
