.notification {
  position: relative;
  padding: 1.5rem;
  color: #000000;
  background-color: #ffffff;
  border-radius: 0.5em;
}

.notification + .notification {
  margin-top: 0.5em;
}

.message {
  display: flex;
  gap: 1em;
  align-items: top;
}
