@import '@/styles/variables';

.container {
  margin: 30px 0;
}

.warning-btn {
  background-color: $secondary-button-color;

  &:hover {
    background-color: $secondary-button-hover-color;
  }

  &:active {
    background-color: $secondary-button-active-color;
  }
}
