.container {
  display: flex;
  flex-direction: column;
}

.panel {
  display: inline-flex;
}

.input {
  border-radius: 5px 0 0 5px;
}

.btn {
  border-radius: 0 5px 5px 0;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
