@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.pagination {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: $light-text-color;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;

  &:hover {
    background-color: rgba($default-border-color, 0.3);
  }

  &.active {
    background-color: $primary-button-color;
  }
}
