@import '@/styles/variables';

.card {
  position: relative;
  padding: 15px;
  margin-top: 30px;
  border: 4px double $light-text-color;
  border-radius: 15px;
}

.content {
  position: relative;
}

.name {
  margin: 0 0 10px;
}

.details {
  position: absolute;
  right: 0;
  bottom: 0;
}
