@import '@/styles/variables';

.card {
  padding: 15px;
  margin-top: 15px;
  border: 1px solid $light-text-color;
  border-radius: 5px;
}

.content {
  position: relative;
}

.details {
  position: absolute;
  right: 0;
  bottom: 0;
}
