@import '@/styles/_variables';

.detail-card {
  position: absolute;
  top: 0;
  left: 110%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
  padding: 15px;
  background: $dark-background-color;
  border: 4px double $default-border-color;
  border-radius: 15px;
  box-shadow: 1px 0 9px 5px $secondary-box-shadow;
  opacity: 0;
  transition: all 0.3s;
  animation: slide 0.5s forwards;
}

@keyframes slide {
  100% {
    opacity: 1;
  }
}

.item span:nth-child(2) {
  font-style: italic;
}

.films {
  padding-left: 1rem;
}

.close {
  position: absolute;
  right: 10px;
}

.loader-container {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  font-size: 1em;
}
